@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<div class="wrapper formbox">
    <section>
        @*<partial name="_LayoutLogoPartial" />*@

        <hr />
        <div class="row text-center">
            <h6>
                Please check your email to reset your password.
            </h6>
        </div>
        <div class="row text-center">
            <a class="form-label label input-margin-top my-menu-btn" href="/account/login"><strong>Login</strong></a>

        </div>
    </section>
</div>
