@page "/Account/Lockout"

<PageTitle>Locked out</PageTitle>


<div class="wrapper formbox">
    <section>

        <hr />
        <div class="row text-center">
            <h6>
                This account has been locked out, please contact ITSupport.
            </h6>
        </div>
        <div class="row text-center">
            <a class="form-label label input-margin-top" href="/login"><strong>Login</strong></a>
        </div>
    </section>
</div>
