@rendermode @(new InteractiveServerRenderMode(false))
@* @attribute [StreamRendering(true)] *@

@page "/powerbi"
@inherits PowerBIBase

@if (@spinning == true || @statusmessage == true)
{
    if (@statusmessage == true)
    {
        <div class="wrapper-entry-form">
            <div class="row text-center">
                <p>
                    <partial name="_StatusMessageSimple" for="StatusMessage" />
                </p>
                <p>
                    <partial name="_StatusMessageSimple" for="StatusMessageLn2" />
                </p>
                <p>
                    <partial name="_StatusMessageSimple" for="StatusMessageLn3" />
                </p>
                <p>
                    <partial name="_StatusMessageSimple" for="StatusMessageLn4" />
                </p>
                <p>
                    <partial name="_StatusMessageSimple" for="StatusMessageLn5" />
                </p>
            </div>
            <div class="row text-center">
                <NavLink class="nav-link">
                    <span class="oi oi-home" aria-hidden="true"></span>
                    <a href="/">Home</a>
                </NavLink>
                @* &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <NavLink class="nav-link">
                    <span class="oi oi-envelope-closed" aria-hidden="true"></span>
                    <a href="/Identity/Account/EmailRoleRequest?pageRoleRequest=@pageRoles&userEmail=@user.Identity.Name&roleName=@pageRole&roleName=@pageRole">Email IT Support</a>
                </NavLink> *@
            </div>
        </div>
    }
    if (@spinning == true)
    {
        <div class="spinner"></div>
    }
}
@* else
{ *@


@* @if (pageName == "AssetManagement"
|| pageName == "EnergyAssetUtilisation"
|| pageName == "EnergyPL"
|| pageName == "EnergyPLGoldfields"
|| pageName == "EnergySales"
|| pageName == "EnergyIndirectLabour")
{
    <style>
        .page-background {
            background-image: var(--menu1-page-background-image);
        }
    </style>
}

@if (pageName == "Production"
|| pageName == "ProductionPL"
|| pageName == "ProductionStats")
{
    <style>
        .page-background {
            background-image: var(--menu2-page-background-image);
        }
    </style>
}


@if (pageName == "Projects"
|| pageName == "ProjectsPL")
{
    <style>
        .page-background {
            background-image: var(--menu3-page-background-image);
        }
    </style>
}

@if (pageName == "CorporatePL")
{
    <style>
        .page-background {
            background-image: var(--menu4-page-background-image);
        }
    </style>
} *@

  
    <div id="outer">
        <div id="inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <button class="w-100 btn btn-lg btn-primary input-margin-bottom" style="float: left; max-width:200px;" onclick="toggleFullScreen()">Full Screen</button>

                    </div>
                @using System.Globalization
                <div class="col-sm">
                    @* @if (lastRefreshDate.HasValue && (pageName == "BidManagement" || pageName == "JobProfitSummary" || pageName == "EnergyAssetUtilisationNew"))
                    {
                        <div class="w-100 btn btn-lg btn-primary input-margin-bottom">
                            Updated: @lastRefreshDate.Value.ToString("g", new CultureInfo("en-AU"))
                        </div>
                    }
                    else
                    {
                        <div class="w-100 btn btn-lg btn-primary input-margin-bottom">
                            Updated: Not available
                        </div>
                    } *@
                </div>
                    <div class="col-sm">
                        <button class="w-100 btn btn-lg btn-primary input-margin-bottom" style="float: right; min-width:200px; max-width:350px;" id="startazure" @onclick="SubmitAzureAsync">
                            <span class="oi oi-power-standby" style="float: left;margin-right: 10px;" aria-hidden="true"> </span>
                            @ButtonAzureText

                        </button>

                    </div>
                </div>
                <div class="row">
                <div @ref="@PowerBIElement" id="embedContainer">
                    </div>
                </div>
            </div>
        </div>
    </div>
  @*  } *@
<script>


    // let wasRefreshed = false;

    // window.checkRefreshAndToggleFullscreen = function () {
    //     if (wasRefreshed) {
    //         toggleFullScreen(); // Call your fullscreen function
    //         wasRefreshed = false; // Reset after handling the refresh
    //     }
    // };

    window.ShowMyPowerBI = {
        showReport: function (reportContainer, accessToken, embedUrl, embedReportId) {
            // Get models. models contains enums that can be used.
            var models = window['powerbi-client'].models;
            var config = {
                type: 'report',
                tokenType: models.TokenType.Embed,
                accessToken: accessToken,
                embedUrl: embedUrl,
                id: embedReportId,
                permissions: models.Permissions.All,
                settings: {
                    filterPaneEnabled: true,
                    navContentPaneEnabled: true,
                    bars: {
                        statusBar: {
                            visible: true
                        }
                    }
                }
            };

            // Indicate that a refresh is happening
            //wasRefreshed = true;
            
            // Embed the report and display it within the div container.
            powerbi.embed(reportContainer, config);

            // After embedding, check and possibly toggle fullscreen
            //setTimeout(window.checkRefreshAndToggleFullscreen, 500); // Optional delay to allow for rendering
        },
    };
</script>

