@rendermode @(new InteractiveServerRenderMode(false))

@page "/powerbi"
@inherits PowerBIBase

@if (IsProcessing)
{
    <div class="spinner"></div>  <!-- Spinner when processing -->
}

@if (statusmessage)
{
    <div class="wrapper-entry-form">
        <div class="row text-center">
            @for (var i = 1; i <= 5; i++)
            {
                <p>
                    <partial name="_StatusMessageSimple" for="@($"StatusMessageLn{i}")" />
                </p>
            }
        </div>
        <div class="row text-center">
            <NavLink class="nav-link">
                <span class="oi oi-home" aria-hidden="true"></span>
                <a href="/">Home</a>
            </NavLink>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <NavLink class="nav-link">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span>
                <a href="/Identity/Account/EmailRoleRequest?pageRoleRequest=@pageRoles&userEmail=@user.Identity.Name&roleName=@pageRole&roleName=@pageRole">Email IT Support</a>
            </NavLink>
        </div>
    </div>
}

@{
    string backgroundClass = pageName switch
    {
        "AssetManagement" or "EnergyAssetUtilisation" or "EnergyPL" or "EnergyPLGoldfields" or "EnergySales" or "EnergyIndirectLabour" => "energy-page-background-image",
        "Production" or "ProductionPL" or "ProductionStats" => "production-page-background-image",
        "Projects" or "ProjectsPL" => "projects-page-background-image",
        "CorporatePL" => "corporate-page-background-image",
        _ => null
    };
}

@if (backgroundClass != null)
{
    <style>
        .page-background {
            background-image: var(-- @backgroundClass );
        }
    </style>
}

<div id="outer">
    <div id="inner">
        <div class="container">
            <div class="row align-items-center justify-content-between mb-3">
                <!-- Full Screen Button -->
                <div class="col-auto">
                    <button class="btn btn-primary btn-lg custom-button" onclick="toggleFullScreen()">
                        Full Screen
                    </button>
                </div>

                <!-- Last Updated Info -->
                @using System.Globalization
                <div class="col-auto text-center">
                    <div class="btn btn-secondary btn-lg custom-info">
                        Updated: @(lastRefreshDate?.ToString("g", new CultureInfo("en-AU")) ?? "Not available")
                    </div>
                </div>

                <!-- Azure Action Button -->
                <div class="col-auto">
                    <button class="btn btn-primary btn-lg custom-button d-flex align-items-center" id="startazure" @onclick="SubmitAzureAsync">
                        <span class="oi oi-power-standby me-2" aria-hidden="true"></span>
                        @ButtonAzureText
                    </button>
                </div>
            </div>
            <div class="row">
                <div @ref="@PowerBIElement" id="embedContainer"></div>
            </div>
        </div>
    </div>
</div>

<script>
    window.ShowMyPowerBI = {
        showReport: function (reportContainer, accessToken, embedUrl, embedReportId) {
            if (!accessToken) {
                // Public report embedding via iframe
                reportContainer.innerHTML = `
                    <iframe width="100%" height="600px" src="${embedUrl}" frameborder="0" allowFullScreen="true"></iframe>
                `;
            } else {
                // Private report embedding using powerbi-client
                var models = window['powerbi-client'].models;
                var config = {
                    type: 'report',
                    tokenType: models.TokenType.Embed,
                    accessToken: accessToken,
                    embedUrl: embedUrl,
                    id: embedReportId,
                    permissions: models.Permissions.All,
                    settings: {
                        filterPaneEnabled: true,
                        navContentPaneEnabled: true,
                        bars: {
                            statusBar: { visible: true }
                        }
                    }
                };

                powerbi.embed(reportContainer, config);
            }
        },
    };
</script>